<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
{% block head %}
	<meta charset="UTF-8">
	<meta http-equiv="imagetoolbar" content="no">
	<meta http-equiv="x-ua-compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--
	  @version     : {{ grav.config.solid.version }}
	  @environment : {{ grav.config.environment }}
	-->

	<!-- PAGE META -->
	<title>{{ meta.title|e('html') }}</title>
	<meta name="description" content="{{ meta.description|e('html') }}">
	<link rel="canonical" href="{{ meta.canonical|e('html') }}">

	<!-- FACEBOOK -->
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{{ meta.share.facebook|e('html') }}">
	<meta property="og:url" content="{{ meta.canonical }}">
	<meta property="og:title" content="{{ meta.share.title|e('html') }}">
	<meta property="og:description" content="{{ meta.share.description|e('html') }}">
	<meta property="og:image" content="{{ meta.share.image }}">

	<!-- TWITTER -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ meta.share.twitter|e('html') }}">
	<meta name="twitter:url" content="{{ meta.canonical }}">
	<meta name="twitter:title" content="{{ meta.share.title|e('html') }}">
	<meta name="twitter:description" content="{{ meta.share.description|e('html') }}">
	<meta name="twitter:image" content="{{ meta.share.image }}">

	<!-- DYNAMIC META -->
	{% spaceless %}
		{% for meta in page.metadata %}
			{# Remove useless meta #}
			{% if meta.name != "generator" and meta.name != "description" %}
				<meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %} >
			{% endif %}
		{% endfor %}
	{% endspaceless %}
{% endblock head %}
</head>
<body>

<!-- PRELOADER -->
<div id="Preloader" style="display: none;"></div>

<!-- MAIN APP CONTAINER -->
<div id="AppContainer">
{% if theme.mode == 'solid' and theme.dataAsHTML == '1' %}<div hidden>{{ dataAsHTML | raw }}</div>{% endif %}
{% block pageContent %}{% endblock %}
</div>

<!-- APP DATA -->
<script>
{% spaceless %}
	{% if theme.mode == 'solid' %}
		window.__appData = {{ appData | json_encode(constant('JSON_NUMERIC_CHECK')) | raw }};
	{% endif %}
{% endspaceless %}
</script>

{% if global['site-config'].keys.analytics is defined %}
<!-- GOOGLE ANALYTICS -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ global['site-config'].keys.analytics }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', '{{ global['site-config'].keys.analytics }}');
</script>
{% endif %}

<!-- APPLICATION RESOURCES -->
{% for resource in resources.styles %}
<link rel="stylesheet" href="{{ base }}static/{{ resource }}?{{ grav.config.solid.version }}" />
{% endfor %}
{% for resource in resources.scripts %}
<script async src="{{ base }}static/{{ resource }}?{{ grav.config.solid.version }}"></script>
{% endfor %}

</body>
</html>
